<div
  class="mb-3"
  id="<%=comment._id%>"
  style="
    border-right: 1px solid rgba(90, 40, 40, 0.1);
    border-bottom: 1px solid rgba(90, 40, 40, 0.1);
    border-image: initial;
    border-top: none;
    border-left: none;
    border-radius: 20px;
    background-color: aliceblue;
    box-shadow: rgba(0, 0, 0, 0.2) 6px 6px 6px;
    padding: 10px 20px;
    position: relative;
  "
>
  <div class="mb-3">
    <img
      src="<%=comment.avatar%>"
      style="width: 30px; height: 30px; border-radius: 50%; margin-right: 15px"
    />
    <span><%=comment.owner%></span><span><%=comment.createdAt%></span>
  </div>
  <p><%=comment.content%></p>

  <!-- NESTED BUTTON MODAL -->
  <%if(locals.isLoggedIn){%>
  <button
    type="button"
    id="nestedCommentBtn"
    style="
      position: absolute;
      bottom: 15px;
      right: 30px;
      border: none;
      outline: none;
      border-radius: 50%;
      background-color: lightslategray;
      font-weight: bolder;
      color: white;
    "
  >
    ↩
  </button>
  <%}else{%>
  <!-- Modal -->
  <button
    type="button"
    data-bs-toggle="modal"
    data-bs-target="#staticBackdrop"
    id="nestedCommentBtn"
    style="
      position: absolute;
      bottom: 15px;
      right: 30px;
      border: none;
      outline: none;
      border-radius: 50%;
      background-color: lightslategray;
      font-weight: bolder;
      color: white;
    "
  >
    ↩
  </button>
  <div
    class="modal fade"
    id="staticBackdrop"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Need to login!</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">Please login or join 🐱‍👤</div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <a href="/user/login">
            <button
              type="button"
              class="btn btn-primary"
              data-bs-dismiss="modal"
              aria-label="Close"
            >
              login
            </button></a
          >
        </div>
      </div>
    </div>
  </div>
  <%}%>
</div>
