<html>
  <head>
    <%- include("./components/HEADS.ejs")%>
    <title>Code Me : Description</title>
  </head>
  <body>
    <%- include("./components/NAVBAR.ejs")%>
    <!-- BOOTSTRAP CARDS -->
    <div class="card" style="width: 100%">
      <div class="card-body">
        <h4 class="card-title text-center">Schedule</h4>
        <h6 class="card-subtitle mb-2 text-muted">Until : <%=todo.date%></h6>
        <p class="card-text">Todo : <%= todo.todo%></p>
        <a href="/todo/edit/<%=todo._id%>" class="card-link">Edit</a>
        <a href="#" class="card-link">Delete</a>
      </div>
    </div>
  </body>
</html>
