<html>
  <head>
    <%- include("./components/HEADS.ejs")%>
    <title>Code Me : Edit Schedule</title>
    <script defer src="/js/edit.js"></script>
  </head>
  <body>
    <%- include("./components/NAVBAR.ejs")%>
    <div class="container">
      <form id="editForm" data-id="<%=todo._id%>"">
        <div class="mb-3 mt-3">
          <label for="schedule" class="form-label">Schedule</label>
          <input
            id="editSchedule"
            type="text"
            class="form-control"
            value="<%=todo.todo%>"
            name="editSchedule"
            required
          />
        </div>

        <div class="mb-3">
          <label for="editDueDate" class="form-label">Due Date</label>
          <input
            id="editDueDate"
            type="date"
            class="form-control"
            placeholder="<%=todo.date%>"
            value="<%=todo.date%>"
            name="editDueDate"
            required
          />
        </div>
        <button type="submit" class="btn btn-success">UPDATE</button>
      </form>
    </div>
  </body>
</html>
