<html>
  <head>
    <%- include("./components/HEADS.ejs")%>
    <script defer src="./js/list.js"></script>
  </head>
  <body>
    <%- include("./components/NAVBAR.ejs")%>
    <div class="container mt-3">
      <h3 class="text-center">Todo List</h3>
      <% results.forEach((result)=>{ %>
      <div id="<%= result._id %>">
        <h4 id="scheduleTitle">
          <a href="/description/<%= result._id %>"><%= result.todo %></a>
        </h4>
        <p>Due Date :<%= result.date %></p>
        <button id="delBtn" type="submit" class="btn btn-danger">Delete</button>
        <hr />
      </div>
      <%} ) %>
    </div>
  </body>
</html>
