<html>
  <head>
    <%- include("./components/HEADS.ejs")%>
    <script defer src="./js/list.js"></script>
  </head>
  <body>
    <%- include("./components/NAVBAR.ejs")%>
    <div class="container mt-3">
      <% results.forEach((result)=>{ %>
      <div id="<%= result._id %>">
        <h4 id="scheduleTitle">
          <%=result.todo%>
          <!--         <a href="/description/<%= result._id %>"
            >">Schedule : <%= result.todo %></a
          > -->
        </h4>
        <p>Due Date :<%= result.date %></p>
        <button id="delBtn" type="submit" class="btn btn-danger">Delete</button>
        <hr />
      </div>
      <%} ) %>
    </div>
  </body>
</html>
