<html>
  <head>
    <%- include("./components/HEADS.ejs")%>
    <title>Code Me : Login</title>
  </head>
  <body>
    <%- include("./components/NAVBAR.ejs")%>
    <!--BOOTSTRAP JOIN FROM  -->
    <div class="container mt-5" }>
      <form
        action="/user/login"
        id="loginForm"
        class="row g-3"
        autocomplete="on"
        method="POST"
      >
        <div class="mb-3">
          <label for="email" class="form-label"
            >Email <%if(locals.emailError){%>
            <span class="message"><%=emailError%></span>
            <%}%></label
          >
          <input
            type="email"
            class="form-control"
            name="email"
            id="email"
            required
          />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label"
            >Password <%if(locals.passwordError){%>
            <span class="message"><%=passwordError%></span>
            <%}%></label
          >
          <input
            type="password"
            class="form-control"
            name="password"
            id="password"
            required
          />
        </div>
        <div class="col-3 mb-3">
          <button type="submit" class="btn btn-primary">LOGIN</button>
          
        </div>
        <%if(locals.socialError){%>
        <h6 class="row mb-3" style="color: red"><%=socialError%></h4>
        <%}%>
      </form>
    </div>
    <!--BOOTSTRAP LOGIN FROM  -->
    <br />

    <!--BOOTSTRAP SOCIAL LOGIN -->
    <div class="d-grid gap-3 col-3 mx-auto">
      <a href="/user/github/start" class="row">
        <button
          class="btn btn-primary"
          type="button"
          style="background-color: cornflowerblue; border: none"
        >
          <img
            src="/images/git.png"
            style="width: 22px; height: 22px; margin-right: 10px"
          />
          GITHUB LOGIN
        </button></a
      >
      <a href="/user/google/start" class="row">
      <button
        class="btn btn-primary"
        type="button"
        style="background-color: darkgray; border: none"
      >
        <img
          src="/images/google.png"
          style="width: 90px; height: 22px; margin-right: 10px"
        />LOGIN
      </button>
    </a>
    <a href="/user/wechat/start" class="row">
      <button class="btn btn-success" type="button">
        <img
          src="/images/wechat.svg"
          style="height: 22px; margin-right: 10px"
        />WECHAT LOGIN
      </button>
      </a>
    </div>
    <!--BOOTSTRAP SOCIAL LOGIN -->
  </body>
</html>
