<html>
  <head>
    <%- include("./components/HEADS.ejs")%>
    <title>Code Me : publicUser Profile</title>
  </head>
  <body>
    <%- include("./components/NAVBAR.ejs")%>
    <div class="container mt-3">
      <%if(locals.messages.message){%>
      <p class="flashMessage"><%=locals.messages.message%></p>
      <%}%>
      <h2 class="text-center mb-3">
        <%=locals.publicUser.nickname%>'s Profile
      </h2>
      <ul class="list-group mb-3">
        <%if(locals.publicUser.avatar){%>
        <img
          src="<%=locals.publicUser.avatar%>"
          class="mx-auto d-block mb-3"
          alt="avatar"
          style="width: 150px; border-radius: 20px"
        />
        <%}else{%>
        <img
          src="/assets/images/noProfile.png"
          class="rounded mx-auto d-block mb-3"
          alt="avatar"
          style="width: 150px"
        />
        <%}%>
        <li class="list-group-item">
          <span
            style="
              display: inline-block;
              width: 130px;
              background-color: rgba(128, 128, 128, 0.123);
            "
            >NICKNAME</span
          >
          <%=locals.publicUser.nickname%>
        </li>
        <li class="list-group-item">
          <span
            style="
              display: inline-block;
              width: 130px;
              background-color: rgba(128, 128, 128, 0.123);
            "
            >EMAIL</span
          >
          <%=locals.publicUser.email%>
        </li>
        <li class="list-group-item">
          <span
            style="
              display: inline-block;
              width: 130px;
              background-color: rgba(128, 128, 128, 0.123);
            "
            >BIRTHDAY</span
          >
          <%=locals.publicUser.birth?locals.publicUser.birth:`🚧 null`%>
        </li>
        <li class="list-group-item">
          <span
            style="
              display: inline-block;
              width: 130px;
              background-color: rgba(128, 128, 128, 0.123);
            "
            >GENDER</span
          >
          <%=locals.publicUser.gender?locals.publicUser.gender:`🚧 null`%>
        </li>
        <li class="list-group-item">
          <span
            style="
              display: inline-block;
              width: 130px;
              background-color: rgba(128, 128, 128, 0.123);
            "
            >PASSWORD</span
          >
          <span class="text-muted text-decoration-line-through"
            >INVISIBLE
          </span>
        </li>
      </ul>
    </div>
  </body>
</html>
