<html>
  <head>
    <%- include("./components/HEADS.ejs")%>
    <title>Code Me : User Profile</title>
  </head>
  <body>
    <%- include("./components/NAVBAR.ejs")%>
    <div class="container mt-3">
      <%if(locals.messages.message){%>
      <p class="flashMessage"><%=locals.messages.message%></p>
      <%}%>
      <h2 class="text-center mb-3"><%=locals.user.nickname%>'s Profile</h2>
      <ul class="list-group mb-3">
        <%if(locals.user.avatar){%>
        <img
          src="<%=locals.user.avatar%>"
          class="mx-auto d-block mb-3"
          alt="avatar"
          style="width: 150px; border-radius: 20px"
        />
        <%}else{%>
        <img
          src="/images/noProfile.png"
          class="rounded mx-auto d-block mb-3"
          alt="avatar"
          style="width: 150px"
        />
        <%}%>
        <li class="list-group-item">
          <span
            style="
              display: inline-block;
              width: 130px;
              background-color: rgba(128, 128, 128, 0.123);
            "
            >NICKNAME</span
          >
          <%=locals.user.nickname%>
        </li>
        <li class="list-group-item">
          <span
            style="
              display: inline-block;
              width: 130px;
              background-color: rgba(128, 128, 128, 0.123);
            "
            >EMAIL</span
          >
          <%=locals.user.email%>
        </li>
        <li class="list-group-item">
          <span
            style="
              display: inline-block;
              width: 130px;
              background-color: rgba(128, 128, 128, 0.123);
            "
            >BIRTHDAY</span
          >
          <%=locals.user.birth?locals.user.birth:`🚧 null`%>
        </li>
        <li class="list-group-item">
          <span
            style="
              display: inline-block;
              width: 130px;
              background-color: rgba(128, 128, 128, 0.123);
            "
            >GENDER</span
          >
          <%=locals.user.gender?locals.user.gender:`🚧 null`%>
        </li>
        <li class="list-group-item">
          <span
            style="
              display: inline-block;
              width: 130px;
              background-color: rgba(128, 128, 128, 0.123);
            "
            >PASSWORD</span
          >
          <span class="text-muted text-decoration-line-through"
            >INVISIBLE
          </span>
        </li>
      </ul>
      <a href="/user/editProfile"
        ><button type="button" class="btn btn-danger">EDIT PROFILE</button>
      </a>
      <a href="/user/changePassword"
        ><button class="btn btn-dark">&rarr; CHANGE PASSWORD</button></a
      >
    </div>
  </body>
</html>
